# TOML extension color coding is being applied here for easier reading.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
tensorflow = "*"
pyqt5 = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.11"
